.fraseContent{
    color: #fff;
    background-color: #333;
    margin: 0;
}
.dividir2{
    margin-right: 1rem;
}
.button{
    background-color: #E1FAC8;
    color:#697C49;
    border:  solid 1rem #697C49;
    border-radius: 1rem;
}