/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  margin: 3rem;
  background-image: url('./imagens/imgfundo.png');
  
}
main img {
  width: 1.75rem;
}

h1 {
  font-size: 2rem;
  margin-right: 1rem;
  
}

a {
  line-height: 1.5rem;
  color: #697C49;
  text-decoration: none;
  margin-left: 1rem;
  
}

img {
  width: 6%;
  height: 6%;
  padding: 0.3rem;
  
}




.logosite{
  color: rgb(37, 81, 76);
  display: block;

}



.logincadastro {
  display: block;
}

.cep p{
  margin:  auto;
}

.cidade{
  width: 20rem;
  height: 1.5rem;
  margin-top: 1rem;
}



.container {
  background-color: rgb(215, 227, 216);
  border: solid 0.1rem rgb(37, 81, 76);
  border-radius: 0.5rem;
  color: rgb(29, 98, 57);
}

#botaologin {
  border: solid 0.1rem rgb(37, 81, 76);
  border-radius: 0.9rem;
  background-color: #FAFFF3;
  
  width: 6rem;
  height: 1.3rem;
 
  
}

option{
  align-items: center;
  font-size: 1.3rem;
}
label{
  
  font-size: 1.6rem;
  
}

.dividir{
  display:flex;
  gap:0.5rem;
  max-width: 18rem;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 5rem;
  text-align: center;
  
}
header a{
  display:block;
  
  
}
.login{
  margin: 1rem  ;
}
.RecyclaRN{
  width: 10rem;
  margin-top: 1.5rem;
}
.dividir2{
  display: flex;
}
.dividir2 input{
  margin: 0.2rem;
  margin-left: 5rem;
  background-color: #E1FAC8;
}

button{
  background-color: #E1FAC8;
  color:#697C49;
  border: solid 0.1rem #697C49;
  border-radius: 0.5rem;
  width: 8rem;
  height: 2rem;
  margin: 1rem;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}




.dividir label{
  margin-top: -2rem;
  margin-bottom: -1.5rem;
  display: flex;
}





